extends base

block content
  img(src="/" + loggedInUser.avatarUrl width="100" height="100")
  form(method="post" enctype="multipart/form-data") 
    label(for="avatar") Avatar
    input(type="file" id="avatar" name="avatar" accept="image/*")
    input(type="text" name="name" value=loggedInUser.name placeholder="Name" required)
    if emailErrorMessage
      p #{emailErrorMessage}
    input(type="text" name="email" value=loggedInUser.email placeholder="Email" required)
    if usernameErrorMessage
      p #{usernameErrorMessage}
    input(type="text" name="username" value=loggedInUser.username placeholder="UserName" required)
    input(type="text" name="location" value=loggedInUser.location placeholder="Location" required)
    input(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly
      hr
      a(href="change-password") Change Password &rarr; 
